# Python
__pycache__/
*.py[cod]
.venv
env/
venv/

# Environment variables
.env
backend/client_secrets.json
backend/token.pickle

# Large files
video.mp4
*.mp4
dataset.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
